html{
  max-width: 1800px;
  margin: auto;
  font-family: 'DM Sans', sans-serif;
}

header{
  width: 65%;
  display: flex;
  justify-content: space-between;
}

h3{
  color: #D3573C;
  font-size: 2em;
}
h2{
  color: #D3573C;
  font-size: 3em;
}

a{
  color: black;
  text-decoration: none;
}

/* section sites */

.logo img{
  width: 300px;
}

.list-photographer-item__caption__location{
  color: #901c1c;
}

.photographer-link{
font-size: 2.5em;
float: right;
margin-top: -60px;
margin-right: 60px;
color: #911616;
}

.tag {
    color: #911616;
    border: 1px solid #cbcbcb;
    border-radius: 20px;
    padding: 4px 7px 4px 7px;
    margin: 5px;
    height: min-content;
    cursor: pointer;
}

.return-top{
  position: fixed;
  top: 20px;
  left: 50%;
  color: black;
  background-color:#D3573C;
  border: 1px solid #D3573C;
  border-radius: 10px;
  padding: 4px 7px 4px 7px;
  height: min-content;
  transform: translateX(-50%);
  font-weight: 600;

  z-index: 9999999;
}
.list-photographer-item__caption__price{
  color: #525252;
}
.list-photographer-item__img {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin: auto;
    display: block;}

.navigation {
    display: flex;
    margin-top: 20px;
}

.list-photographer-item__img__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.work-photographer-item {
    cursor: pointer;
}
.trie-select {
    color: white;
    background-color: #911616;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 110px;
    padding-left: 10px;
}

.trie-select option{
 border-bottom: 1px solid white;
}

.list-photographer-item {
    margin: 10px  120px  10px  120px;
}
.list-photographer-item {
    margin: 10px 100px 10px 100px;
    width: 300px;
}
#list-photographer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}
.list-photographer-item__tags {
    display: flex;
    justify-content: center;
     cursor: pointer;
}
.list-photographer-item__name{
  margin-top: 20px!important;
}
.list-photographer-item__name , .list-photographer-item__caption{
  text-align: center;
white-space: pre-wrap;
margin-bottom: 0px;
width: 100%;
}

.list-photographer-item__caption__location , .list-photographer-item__caption__phrase , .list-photographer-item__caption__price{
  margin: 5px;
}

.work-photographer-item__likes {
    margin: 0;
    color: #911616;
}
.work-photographer-item__img{
  position: relative;
  width: 400px;
  height: 360px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
#photographer-info {
    margin: 50px;
    background-color: #fafafa;
    padding: 60px;
}
.work-photographer__trie {
    display: flex;
}
.photographer-info__img {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 50%;
    float: right;
    top: -250px;
    margin-right: 5%;
}
.photographer-info__img__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#work-photographer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}


.top-info {
    display: flex;
}
.contact-info{
    cursor: pointer;
  color: white;
    background-color: #911616;
padding:27px;;
font-weight: 600;
    border-radius: 10px;
    margin-left: 5%;

}
.photographer-info__name{
  margin: 0px;
}
.work-photographer-item__name {
    font-size: 1.7em;
    color: #911616;
}

.work-photographer-text{
  display: flex;
  justify-content: space-between;
}


.fas.fa-heart {
    margin: 40px 10px;
    font-size: 1.7em;
}

.trie-zone{
  padding-left: 70px;
}


/* modal */

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.bground-photo {
  background-color: white;
}

.bground-photo .content {
  background: white;
  margin: -1% auto;
width: 100%;
max-width: 100%;
animation-name: modalopen;
animation-duration: var(--modal-duration);
border-radius: 10px;
overflow: hidden;
position: relative;
color: black;
padding-top: 10px;
height: 100vh;
}

.bground-photo .modal-body {
    padding: 15px 15%;
    margin: 15px auto;
}
.modal-title {
    color: #911616;
    font-size: 1.5em;
    font-weight: 350;
    margin-top: 10px;
}
.bground-photo .list-photographer-item__img__content {
    width: 100%;
    height: 90vh;
    object-fit: contain;
    margin: auto;
    /* display: block; */
}

.arrow {
  border: solid #911616;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 30px;
position: absolute;
top: 50%;
margin-top: -18px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 30px;
position: absolute;
top: 50%;
margin-top: -18px;
}

.bground-photo .list-photographer-item__img__content {
    border-radius: 5px;
}

.bground-photo .close {
    position: absolute;
    right: 0px;
    top: 10px;
  }

.bground-photo .close::before, .bground-photo .close::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 5px;
    background-color: #911616;;
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #db8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}
.photographer-info__caption__location {
    text-transform: uppercase;
    font-size: 1.7em;
    color: #911616;
}
label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.error{
font-size: 0.4em;
color: #e54858;
display: block;
position: absolute;
margin-bottom: -13px;
text-align: right;
opacity: 0;
transition: 0.3s;}

.error-show{
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 0px;
  margin-bottom: -13px;
  text-align: left;
  line-height: 0.3;
  opacity: 1;
  transition: 0.3s;}


.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
/*
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.btn-submit,
.btn-signup {
  margin-top: 10px!important;
  background:#901c1c;
  display: inline;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 50px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}
.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}
.hero-section {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}
.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}
.hero-content > * {
  position: relative;
  z-index: 1;
}
.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}
.hero-text {
  width: 146%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}
.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin: 0;
  margin-top: 59px;
}
.hero-img {
  grid-column: span 8;
}
.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}
.hero-section > .btn-signup {
  display: none;
}
footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}
@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }

  .error-show {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .hero-headline {
    font-size: 2em;
white-space: normal;
font-weight: 600;
text-align: center;
  }
  .hero-text {
    width: unset;
font-size: 0.8em;
margin-top: 20px;
text-align: center;
  }
  .hero-img img {
    border-radius: 10px;
    margin-top: 20px;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-150px);
  }
}

.valid-modal {
    display: none;
}
.valid-modal-btn {
    margin: auto;
    display: block;
    border: none;
    padding: 15px 40px 15px 40px;
}

.valid-massage {
    text-align: center;
    margin: 250px 0px 250px 0px;
}
.MyClass{
  opacity: 0;
  transform: translateY(-150px);
  transition: 1s ease;
  position: absolute; visibility: hidden;
  width: 53.7%;
}

.valid-modal{
  opacity: 1;
  position: absolute;
  transform: translateY(0px);
  transition: 1s ease;
  margin: 5% auto;
  width: 100%;
}

.input-error{
  border: 2px solid #c10909;
  /* box-shadow: 1px 3px 12px 0px rgba(249,5,5,0.75);
-webkit-box-shadow: 1px 3px 12px 0px rgba(249,5,5,0.75);
-moz-box-shadow: 1px 3px 12px 0px rgba(249,5,5,0.75); */
margin: 0;
padding: 8px;
width: 100%;
border-radius: 8px;
font-size: 20px;
height: 48px;
}
#errordate{
  margin-bottom: 3px;
}
.topnav a.icon {
    color: red;
}
a.icon:hover{
  color: white;
}
.button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}
/* Media queries  */
@media screen and (max-width: 1000px){

.logo img {
  margin-top: 20px;
  width: 280px;
  margin-left: -10px;
}

.list-photographer-item__img {
    position: relative;
    width: 200px;
    height: 200px;}

.photographer-link {
  font-size: 1.3em;
float: right;
margin-top: -43px;
margin-right: 15px;
}
.navigation-index {
    display: flex;
    margin-top: 84px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
justify-content: center;
}
}

@media screen and (max-width: 500px){

.logo img {
  margin-top: 20px;
    width: 170px;
    margin-left: -20px;
}

.photographer-link {
  font-size: 1em;
  float: right;
  margin-top: -33px;
  margin-right: 10px;
  color: #911616;
}
}
@media screen and (max-width: 900px){
.contact-info {
  position: fixed;
  margin: auto;
  display: block;
  padding: 10px 35px 10px 35px;
  z-index: 1;
  left: 0;
  right: 0;
  width: 115px;
  bottom: 35px;
}

.photographer-info__img {
    position: relative;
    width: 140px;
    height: 140px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 50%;
    float: right;
    top: -180px;
    margin-right: 0%;
}
#photographer-info {
    margin: 0px;
    background-color: white;
  padding: 10px;}

    .work-photographer-item__img {
    position: relative;
    width: 300px;
    height: 220px;
  }

  .work-photographer-item {
      cursor: pointer;
      width: 300px;
  }

  .navigation-photo {
      display: flex;
      margin-top: 10px;
      flex-wrap: wrap;
      justify-content: left;
      left: 0;
      width: 50%;
  }
h2 {
    color: #D3573C;
    font-size: 2em;
}
.photographer-info__caption__location {
    text-transform: none;
    font-size: 1em;
    color: #911616;
    margin: 0;
}
.photographer-info__caption__phrase {
    margin: 0;
}

}
