html{
  max-width: 1800px;
  margin: auto;
  font: 'AmstelvarAlpha', sans-serif;
}

header{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

h3{
  color: #D3573C;
  font-size: 2em;
}
h2{
  color: #D3573C;
  font-size: 3em;
}

a{
  color: black;
  text-decoration: none;
}

.logo img{
  width: 300px;
}

.list-photographer-item__caption__location{
  color: #901c1c;
}

.photographer-link{
font-size: 2.5em;
float: right;
margin-top: -60px;
margin-right: 60px;
color: #911616;
}

.tag {
    color: #911616;
    border: 1px solid #cbcbcb;
    border-radius: 20px;
    padding: 4px 7px 4px 7px;
    margin: 5px;
    height: min-content;
}

.return-top{
  position: fixed;
  top: 20px;
  left: 50%;
  color: black;
  background-color:#D3573C;
  border: 1px solid #D3573C;
  border-radius: 10px;
  padding: 4px 7px 4px 7px;
  height: min-content;
  transform: translateX(-50%);
  font-weight: 600;

  z-index: 9999999;
}
.list-photographer-item__caption__price{
  color: #525252;
}
.list-photographer-item__img {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.navigation {
    display: flex;
    margin-top: 20px;
}

.list-photographer-item__img__content {
  width: 100%;
  height: auto;
}

.list-photographer-item {
    margin: 10px  120px  10px  120px;
}

#list-photographer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}


.list-photographer-item__name , .list-photographer-item__caption{
  text-align: center;
  margin: 10px;
}

.list-photographer-item__caption__location , .list-photographer-item__caption__phrase , .list-photographer-item__caption__price{
  margin: 5px;
}

.work-photographer-item__img{
  position: relative;
  width: 400px;
  height: 360px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
#photographer-info {
    margin: 50px;
    background-color: #fafafa;
    padding: 25px;
}
.photographer-info__img {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 50%;
    float: right;
    top: -250px;
    margin-right: 5%;
}
.photographer-info__img__content {
    width: 100%;
}
#work-photographer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}


.top-info {
    display: flex;
}
.contact-info{
  color: white;
    background-color: #911616;
padding: 20px;
    border-radius: 10px;
    margin-left: 5%;

}
.photographer-info__name{
  margin: 0px;
}
